# Ignore node_modules
node_modules/

# Ignore Expo files
.expo/
.expo-shared/

# Ignore Android build files
android/build/

# Other common ignores
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.swp

# Ignore environment variables file
.env